<!DOCTYPE html>
<html>
	<head>
		<title>Colleagues - add colleague</title>
		<link rel="stylesheet" type="text/css" href="/css/styles.css" />
	</head>
	<body>
		<nav>
			<ul>
				<li><a href="index.html">Home</a></li>
				<li><a href="view.html">Messenger</a></li>
				<li class="dropdown">
			    	<a href="javascript:void(0)" class="dropbtn">Groups</a>
				    <div class="dropdown-content">
			      		<a href="add-group.html">Add group</a>
				      	<a href="edit-group.html">Edit group</a>
				      	<a href="delete-group.html">Delete group</a>
				    </div>
			  	</li>
		  		<li class="dropdown">
		  	    	<a href="javascript:void(0)" class="dropbtnSelected">Colleagues</a>
		  		    <div class="dropdown-content">
		  	      		<a href="add-colleague.html" class="selectedNav">Add colleague</a>
		  		      	<a href="edit-colleague.html">Edit colleague</a>
		  		      	<a href="delete-colleague.html">Delete colleague</a>
		  		    </div>
		  	  	</li>
		  	  	<li><a href="logout.html">Logout</a></li>
		  	  	<li>
		  	  		<p>Name: <b><%= user.firstName %> <%= user.lastName %></b></p><br>
		  	  		<p>Role: <b><%= user.role %></b></p><br>
		  	  		<p>Business unit: <b><%= user.warehouseId %></b></p>
		  	  	</li>
			</ul>
		</nav>

		<div class="paragraph" style="text-align:left;">
			<h5 style="color: <%= statusColour %>"><%= status %></h5>
			<form action="/add-colleague.html" method="POST">
				<table style="width:25%">
		  			<tr>
		  				<td>First name</td>
		  				<td><input type="text" name="colleagueFirstName"></input></td>
		  			</tr>
		  			<tr>
		  				<td>Last name</td>
		  				<td><input type="text" name="colleagueLastName"></input></td>
		  			</tr>
		  			<tr>
		  				<td>ID</td>
		  				<td><input type="text" name="colleagueAddress"></input></td>
		  			</tr>
		  			<tr>
		  				<td>Group</td>
		  				<td>
		  					<select name="colleagueGroup" id="groupSelect">
		  						<% groups.forEach(function(group) { %>
		  						<% if (group.name === 'Inactive') { %>
		    					<option value="<%= group.name %>" selected><%= group.name %></option>
		    					<% } else { %>
		    					<option value="<%= group.name %>"><%= group.name %></option>
		    					<% } %>
		    					<% }) %>
		  					</select>
		  				</td>
		  			</tr>
		  			<tr>
		  				<td>Password</td>
		  				<td><input type="password" name="firstColleaguePassword"></input></td>
		  			</tr>
		  			<tr>
		  				<td>Confirm password</td>
		  				<td><input type="password" name="colleaguePassword"></input></td>
		  			</tr>
		  			<tr>
		  				<td>Role</td>
		  				<td>
		  					<select name="colleagueRole" id="roleSelect">
		    					<option value="Standard">Standard</option>
		    					<option value="Admin">Admin</option>
		  					</select>
		  				</td>
		  			</tr>
		  			<tr>
		  				<td><button type="submit">Add</button></td>
		  			</tr>
				</table>
			</form>
		</div>

		<footer>
			<hr class="solid">
			<h6>Copyright © 2023<br>9.0.0<br>Powered by software developed by Mobilis Consulting Ltd.</h6>
		</footer>

		<script>
			//listen for colleague role change
			document.querySelector("#roleSelect").addEventListener("change", function() {
				const groupSelect = document.getElementById("groupSelect");

				if (this.value === 'Admin') {
					//create hardcoded 'Administrator' option
					const option = document.createElement('option');
					option.value = 'Administrator';
					option.innerHTML = 'Administrator';
					//append to select
					groupSelect.appendChild(option);
					//set the selected value
					groupSelect.value = "Administrator";
					//stop the user from making changes
					groupSelect.disabled = true;
				} else {
					groupSelect.removeChild(groupSelect[groupSelect.selectedIndex]);
					//set the selected value
					groupSelect.value = "Inactive";
					//enable the user to make changes
					groupSelect.disabled = false;
				}
			});
		</script>
	</body>
</html>
