<!DOCTYPE html>
<html>
	<head>
		<title>Groups - delete group</title>
		<link rel="stylesheet" type="text/css" href="/css/styles.css" />
	</head>
	<body>
		<nav>
			<ul>
				<li><a href="index.html">Home</a></li>
				<li><a href="view.html">Messenger</a></li>
				<li class="dropdown">
			    	<a href="javascript:void(0)" class="dropbtnSelected">Groups</a>
				    <div class="dropdown-content">
			      		<a href="add-group.html">Add group</a>
				      	<a href="edit-group.html">Edit group</a>
				      	<a href="delete-group.html" class="selectedNav">Delete group</a>
				    </div>
			  	</li>
		  		<li class="dropdown">
		  	    	<a href="javascript:void(0)" class="dropbtn">Colleagues</a>
		  		    <div class="dropdown-content">
		  	      		<a href="add-colleague.html">Add colleague</a>
		  		      	<a href="edit-colleague.html">Edit colleague</a>
		  		      	<a href="delete-colleague.html">Delete colleague</a>
		  		    </div>
		  	  	</li>
		  	  	<li class="dropdown">
			    	<a href="javascript:void(0)" class="dropbtn">Licences</a>
				    <div class="dropdown-content">
			      		<a href="view-licences.html">View licences</a>
				      	<a href="view-devices.html">View devices</a>
				    </div>
			  	</li>
		  	  	<li><a href="logout.html">Logout</a></li>
		  	  	<li>
		  	  		<p>Name: <b><%= user.firstName %> <%= user.lastName %></b></p><br>
		  	  		<p>Role: <b><%= user.role %></b></p><br>
		  	  		<p>Business unit: <b><%= user.warehouseId %></b></p>
		  	  	</li>
			</ul>
		</nav>

		<table id="groupTable" style="width: 100%; margin-top: 20px">
		  	<tr>
		    	<th style="text-align:left">Name</th>
		    	<th style="text-align:left">Deferred message</th>
		  	</tr>
		  	<% groups.forEach(function(group) { %>
		  	<tr class="lunaRows">
		  		<form action="/delete-group.html" method="POST">
			  		<td><%= group.name %></td>
			  		<td><%= group.deferredMessage %></td>
			  		<td><button type="submit">Delete</button></td>
			  		<td>
			  			<input type="text" name="groupName" value="<%= group.name %>" style="visibility: hidden; width: 0px; length: 0px;">
			  		</td>
		  		</form>
		  	</tr>
		  	<% }) %>
		</table>

		<footer>
			<hr class="solid">
			<h6>Copyright © 2023<br>11.0.0<br>Powered by software developed by Mobilis Consulting Ltd.</h6>
		</footer>
	</body>
</html>
