<!DOCTYPE html>
<html>
	<head>
		<title>Colleagues - edit colleague</title>
		<link rel="stylesheet" type="text/css" href="/css/styles.css" />

		<script>
			function filterColleagues() {
				//this is the selected group
				const groups = document.getElementById("colleagueGroup");
				location.href = "/edit-colleague.html?group=" + groups.options[groups.selectedIndex].value;
			}

			function makeEditable(obj) {
				//reload the URL passing query string param of the row to put in edit mode
				location.href = "/edit-colleague.html?editableColleague=" + obj;
			}
		</script>
	</head>
	<body>
		<nav>
			<ul>
				<li><a href="index.html">Home</a></li>
				<li><a href="view.html">Messenger</a></li>
				<li class="dropdown">
			    	<a href="javascript:void(0)" class="dropbtn">Groups</a>
				    <div class="dropdown-content">
			      		<a href="add-group.html">Add group</a>
				      	<a href="edit-group.html">Edit group</a>
				      	<a href="delete-group.html">Delete group</a>
				    </div>
			  	</li>
		  		<li class="dropdown">
		  	    	<a href="javascript:void(0)" class="dropbtnSelected">Colleagues</a>
		  		    <div class="dropdown-content">
		  	      		<a href="add-colleague.html">Add colleague</a>
		  		      	<a href="edit-colleague.html" class="selectedNav">Edit colleague</a>
		  		      	<a href="delete-colleague.html">Delete colleague</a>
		  		    </div>
		  	  	</li>
		  	  	<li><a href="logout.html">Logout</a></li>
		  	  	<li>
		  	  		<p>Name: <b><%= user.firstName %> <%= user.lastName %></b></p><br>
		  	  		<p>Role: <b><%= user.role %></b></p><br>
		  	  		<p>Business unit: <b><%= user.warehouseId %></b></p>
		  	  	</li>
			</ul>
		</nav>

		<table style="width: 25%; margin-top: 20px;">
			<tr>
				<td>Group</td>
				<td>
					<select id="colleagueGroup" onchange="filterColleagues();">
						<% if (filteredGroup === null || typeof filteredGroup === 'undefined') { %>
						<option value="" selected></option>
						<% } else { %>
						<option value=""></option>
						<% } %>
						<% groups.forEach(function(group) { %>
						<% if (filteredGroup !== null && typeof filteredGroup !== 'undefined' && group.name === filteredGroup) { %>
						<option value="<%= group.name %>" selected><%= group.name %></option>
						<% } else { %>
						<option value="<%= group.name %>"><%= group.name %></option>
						<% } %>
						<% }) %>
					</select>
				</td>
			</tr>
		</table>

		<table id="colleagueTable" style="width:100%">
		  	<tr>
		  		<th style="text-align:left">Name</th>
		    	<th style="text-align:left">Address</th>
		    	<th style="text-align:left">Group</th>
		    	<th style="text-align:left">Role</th>
		  	</tr>
		  	<% colleagues.forEach(function(colleague) { %>
		  	<tr class="lunaRows">
		  		<form action="/edit-colleague.html" method="POST">
		  			<td><%= colleague.firstName %> <%= colleague.lastName %></td>
		  			<td><%= colleague.address %></td>
		  			<% if (editableColleague !== null && typeof editableColleague !== 'undefined' && editableColleague === colleague.address) { %>
		  			<td>
		  				<% if (colleague.role === "Admin") { %>
		  				<select name="newColleagueGroup" id="groupSelect" disabled>
		  					<% groups.forEach(function(group) { %>
		  					<% if (colleague.group === group.name) { %>
		  					<option value="<%= group.name %>" selected><%= group.name %></option>
		  					<% } else { %>
		  					<option value="<%= group.name %>"><%= group.name %></option>
		  					<% } %>
		  					<% }) %>
		  					<option value="Administrator" selected>Administrator</option>
		  				</select>
		  				<% } else { %>
		  				<select name="newColleagueGroup" id="groupSelect">
		  					<% groups.forEach(function(group) { %>
		  					<% if (colleague.group === group.name) { %>
		  					<option value="<%= group.name %>" selected><%= group.name %></option>
		  					<% } else { %>
		  					<option value="<%= group.name %>"><%= group.name %></option>
		  					<% } %>
		  					<% }) %>
		  				</select>
		  				<% } %>
		  			</td>
			  		<td>
			  			<select name="newColleagueRole" id="roleSelect">
			  				<% if (colleague.role === "Standard") { %>
			  				<option value="Standard" selected>Standard</option>
			  				<option value="Admin">Admin</option>
			  				<% } else if (colleague.role === "Admin") { %>
			  				<option value="Admin" selected>Admin</option>
			  				<option value="Standard">Standard</option>
			  				<% } %>
			  			</select>
			  		</td>
			  		<td><button type="submit">Save</button></td>
		  			<% } else { %>
		  			<td><%= colleague.group %></td>
			  		<td><%= colleague.role %></td>
			  		<td><button type="button" onclick="makeEditable('<%= colleague.address %>');">Edit</button></td>
		  			<% } %>
			  		<td>
			  			<input type="text" name="previousColleagueAddress" value="<%= colleague.address %>" style="visibility: hidden; width: 0px; length: 0px;">
			  		</td>
		  		</form>
		  	</tr>
		  	<% }) %>
		</table>

		<footer>
			<hr class="solid">
			<h6>Copyright © 2023<br>7.0.0<br>Powered by software developed by Mobilis Consulting Ltd.</h6>
		</footer>

		<script>
			if (document !== null && typeof document !== 'undefined') {
				const selector = document.querySelector("#roleSelect");
				//selector is not undefined in edit mode
				if (selector !== null && typeof selector !== 'undefined') {
					//listen for colleague role change
					selector.addEventListener("change", function() {
						const groupSelect = document.getElementById("groupSelect");

						if (this.value === 'Admin') {
							//create hardcoded 'Administrator' option
							const option = document.createElement('option');
							option.value = 'Administrator';
							option.innerHTML = 'Administrator';
							//append to select
							groupSelect.appendChild(option);
							//set the selected value
							groupSelect.value = "Administrator";
							//stop the user from making changes
							groupSelect.disabled = true;
						} else {
							groupSelect.removeChild(groupSelect[groupSelect.selectedIndex]);
							//enable the user to make changes
							groupSelect.disabled = false;
						}
					});
				}
			}
		</script>
	</body>
</html>
