<!DOCTYPE html>
<html>
	<head>
		<title>Group message info</title>
		<link rel="stylesheet" type="text/css" href="/css/styles.css" />
	</head>
	<body>
		<table id="messageReceiptTable" style="width:100%">
		  	<tr>
		    	<th style="text-align:left">To</th>
		    	<th style="text-align:left">Delivered</th>
		    	<th style="text-align:left">Read</th>
		    	<th style="text-align:left">Status</th>
		  	</tr>
		  	<% messageReceipts.forEach(function(messageReceipt) { %>
			  	<tr class="lunaRows">
			  		<td>
			  			<% let contactFound = false; %>
			  			<% for (let x = 0; x < contacts.length; x++) { %>
			  			<% const contact = contacts[x]; %>
			  			<% if (contact.address === messageReceipt.to) { %>
			  			<% contactFound = true; %>
			  			<%= contact.firstName %> <%= contact.lastName %>
			  			<% break; %>
			  			<% } %>
			  			<% } %>
			  			<% if (!contactFound) { %>
			  			<%= messageReceipt.to %>
			  			<% } %>
			  		</td>
			  		<td>
			  			<% const formattedDt = messageReceipt.deliveredTimestamp.substring(0, messageReceipt.deliveredTimestamp.length - 4); %>
		  				<%= formattedDt %>
			  		</td>
			  		<td>
			  			<% const formattedRt = messageReceipt.readTimestamp.substring(0, messageReceipt.readTimestamp.length - 4); %>
		  				<%= formattedRt %>
			  		</td>
			  		<td><%= messageReceipt.status %></td>
			  	</tr>
		  	<% }) %>
		</table>

		<footer>
			<hr class="solid">
			<h6>Copyright © 2023<br>10.0.0<br>Powered by software developed by Mobilis Consulting Ltd.</h6>
		</footer>
	</body>
</html>
