<!DOCTYPE html>
<html>
	<head>
		<title>CustomMessenger - view all</title>
		<link rel="stylesheet" type="text/css" href="/css/styles.css" />

		<script>
			function groupOrContactClick(partialId) {
				//reload the URL passing query string param of the partialId
				location.href = "/view.html?selected=" + partialId;
			}

			function reload() {
				location.reload();
			}

			function displayGroupMessageInfo(obj) {
				//we want to remove anything after the end snippet (i.e. query string params)
				const endSnippet = "view.html";
				let path = location.href;
				if (path.includes(endSnippet)) {
					const endPos = path.indexOf(endSnippet) + endSnippet.length;
					path = path.substring(0, endPos);
				}

				window.open(path + '/groupMessageInfo?groupMessageId=' + obj, '_blank', 'location=yes,height=550,width=1100,scrollbars=yes,status=yes');
			}

			function search() {
				//import the map, using 2nd param as 'replacer' method to convert to JSON array, which can be stringified
				const importedMap = <%- JSON.stringify(groupsContacts, function(key, value) {
			  		if (value instanceof Map) {
			    		return {
			      			dataType: 'Map',
			      			value: Array.from(value.entries()), //or: value: [...value]
			    		};
			  		} else {
			    		return value;
			  		}
				}) %>;
				//get the value in the search input
				let searchParams = document.getElementById('searchName').value;
				//trim any leading and trailing whitespace
				searchParams = searchParams.trim();
				//split by whitespace
				const parts = searchParams.split(/\s+/);
				if (parts.length === 2) {
					//search based on first name and last name combined (lower case)
					const f = parts[0].toLowerCase();
					const l = parts[1].toLowerCase();

					for (let x = 0; x < importedMap.value.length; x++) {
						const current = importedMap.value[x][1];
						for (let y = 0; y < current.length; y++) {
							if (current[y].firstName.toLowerCase().includes(f)
								&& current[y].lastName.toLowerCase().includes(l)) {
								//reload the URL passing query string param of the partialId
								location.href = "/view.html?selected=" + current[y].partialId;
								return;
							}
						}
					}
				} else if (parts.length === 1) {
					//compare first name and last name (lower case)
					const fOrL = parts[0].toLowerCase();

					for (let x = 0; x < importedMap.value.length; x++) {
						const current = importedMap.value[x][1];
						for (let y = 0; y < current.length; y++) {
							if (current[y].firstName.toLowerCase().includes(fOrL)
								|| current[y].lastName.toLowerCase().includes(fOrL)) {
								//reload the URL passing query string param of the partialId
								location.href = "/view.html?selected=" + current[y].partialId;
								return;
							}
						}
					}
				} else {
					//find the first thing that matches (lower case)
					for (let x = 0; x < importedMap.value.length; x++) {
						const current = importedMap.value[x][1];
						for (let y = 0; y < current.length; y++) {
							for (let z = 0; z < parts.length; z++) {
								if (current[y].firstName.toLowerCase().includes(parts[z].toLowerCase())
									|| current[y].lastName.toLowerCase().includes(parts[z].toLowerCase())) {
									//reload the URL passing query string param of the partialId
									location.href = "/view.html?selected=" + current[y].partialId;
									return;
								}
							}
						}
					}
				}
			}
		</script>

		<!-- TODO - uncomment to enable auto refresh -->
		<!-- <meta http-equiv="refresh" content="60"> -->
	</head>
	<body>
		<nav>
			<ul>
				<li><a href="index.html">Home</a></li>
				<li><a href="view.html" class="selectedNav">Messenger</a></li>
				<li class="dropdown">
			    	<a href="javascript:void(0)" class="dropbtn">Groups</a>
				    <div class="dropdown-content">
			      		<a href="add-group.html">Add group</a>
				      	<a href="edit-group.html">Edit group</a>
				      	<a href="delete-group.html">Delete group</a>
				    </div>
			  	</li>
		  		<li class="dropdown">
		  	    	<a href="javascript:void(0)" class="dropbtn">Colleagues</a>
		  		    <div class="dropdown-content">
		  	      		<a href="add-colleague.html">Add colleague</a>
		  		      	<a href="edit-colleague.html">Edit colleague</a>
		  		      	<a href="delete-colleague.html">Delete colleague</a>
		  		    </div>
		  	  	</li>
		  	  	<li class="dropdown">
			    	<a href="javascript:void(0)" class="dropbtn">Licences</a>
				    <div class="dropdown-content">
			      		<a href="view-licences.html">View licences</a>
				      	<a href="view-devices.html">View devices</a>
				    </div>
			  	</li>
		  	  	<li><a href="logout.html">Logout</a></li>
		  	  	<li>
		  	  		<p>Name: <b><%= user.firstName %> <%= user.lastName %></b></p><br>
		  	  		<p>Role: <b><%= user.role %></b></p><br>
		  	  		<p>Business unit: <b><%= user.warehouseId %></b></p>
		  	  	</li>
			</ul>
		</nav>

		<table style="margin-left: auto; margin-right: auto;">
			<tr>
				<% if (user.role === 'Admin') { %>
				<td>
					<form action="/view.html/archive?selected=<%= selectedGroupContact.partialId %>" method="POST">
						<button type="submit">Archive</button>
					</form>
				</td>
				<% } %>
				<td>
					<button type="button" onclick="reload();">Refresh</button>
				</td>
				<td>
					<label id="selectedTo">
						<% if (selectedGroupContact.isGroup !== null && typeof selectedGroupContact.isGroup !== 'undefined' && selectedGroupContact.isGroup) { %>
						Send to: <%= selectedGroupContact.partialId %>
						<% } else if (selectedGroupContact.firstName !== null && typeof selectedGroupContact.firstName !== 'undefined' && selectedGroupContact.lastName !== null && typeof selectedGroupContact.lastName !== 'undefined') { %>
						Send to: <%= selectedGroupContact.firstName %> <%= selectedGroupContact.lastName %>
						<% } else { %>
						Send to: N/A
						<% } %>
					</label>
				</td>
				<td>
					<form action="/view.html?selected=<%= selectedGroupContact.partialId %>" method="POST">
						<input type="text" name="messageToSend" style="width:500px;"></input>
						<button type="submit">Send</button>
						<input type="text" name="selectedGroupOrContact" style="visibility: hidden; width: 0px; length: 0px;" value="<%= selectedGroupContact.partialId %>">
					</form>
				</td>
			</tr>
		</table>

		<table style="width:100%">
			<tr>
				<td style="vertical-align: top;">
					<table id="conversationTable">
						<tr>
							<th>Conversations</th>
						</tr>
						<% groupsContacts.forEach((value, key, map) => { %>
						<% if (selectedGroupContact.partialId === key.partialId) { %>
						<tr class="selected" onclick="groupOrContactClick('<%= key.partialId %>');">
							<td>- <%= key.partialId %> (<%= value.length %>)</td>
						</tr>
						<% } else { %>
						<tr class="lunaRows" onclick="groupOrContactClick('<%= key.partialId %>');">
							<td>
								<% if (selectedGroupContact.groupName === key.partialId) { %>
								- <%= key.partialId %> (<%= value.length %>)
								<% } else { %>
								+ <%= key.partialId %> (<%= value.length %>)
								<% } %>
							</td>
						</tr>
						<% } %>
						<% value.forEach(function(groupContact) { %>
						<% if (selectedGroupContact.partialId === groupContact.partialId) { %>
						<tr class="selected" onclick="groupOrContactClick('<%= groupContact.partialId %>');">
							<td style="padding-left: 30px; padding-right: 30px;"><%= groupContact.firstName %> <%= groupContact.lastName %></td>
						</tr>
						<% } else if (selectedGroupContact.groupName === groupContact.groupName) { %>
						<tr class="lunaRows" onclick="groupOrContactClick('<%= groupContact.partialId %>');">
							<td style="padding-left: 30px; padding-right: 30px;"><%= groupContact.firstName %> <%= groupContact.lastName %></td>
						</tr>
						<% } %>
						<% }) %>
						<% }) %>
						<tr>
							<td>Search users:</td>
						</tr>
						<tr>
							<td><input type="text" id="searchName" style="width:100px;"></input></td>
						</tr>
						<tr>
							<td><button type="button" onclick="search();">Search</button></td>
						</tr>
					</table>
				</td>
				<td>
					<table id="messageTable" style="width:100%">
					  	<% messages.forEach(function(message) { %>
					  	<% if (message.isGroupMessage === true && message.isIndividualMessage === false || message.isGroupMessage === false && message.isIndividualMessage === true) { %>
					  	<tr>
					  		<td>
					  			<% if (message.from !== user.address) { %>
					  			<%= message.firstName %> <%= message.lastName %><br><div class="receivedMessages" onclick="displayGroupMessageInfo('<%= message.groupMessageId %>');"><%= message.message %></div>
					  			<% const formatted = message.timestamp.substring(0, message.timestamp.length - 4); %>
  								<%= formatted %>
					  			<% } %>
							</td>
					  		<td>
					  			<% if (message.from === user.address) { %>
					  			<%= message.firstName %> <%= message.lastName %><br><div class="sentMessages" onclick="displayGroupMessageInfo('<%= message.groupMessageId %>');"><%= message.message %></div>
					  			<% const formatted = message.timestamp.substring(0, message.timestamp.length - 4); %>
  								<%= formatted %>
					  			<% } %>
					  		</td>
					  	</tr>
					  	<% } %>
					  	<% }) %>
					</table>
				</td>
			</tr>
		</table>

		<footer>
			<hr class="solid">
			<h6>Copyright © 2023<br>11.0.0<br>Powered by software developed by Mobilis Consulting Ltd.</h6>
		</footer>
	</body>
</html>
